html,body {
    margin:0;
    padding:0;
}

body {
    text-align: center;
    background: white;
    font-family: Verdana,Helvetica,sans-serif,Arial;
    height: 100%;
    overflow: hidden;
}

#top, #bottom, #left, #right {
	background: #DEDEDE;
	position: fixed;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}

#top { top: 0; }
#bottom { bottom: 0; }

#toilette {
	line-height: 100vh; 
	width: 100%;
	margin: 0 auto;
}

.state {
	display: inline-block;
    vertical-align: middle;
	max-width: 40%;
	max-height: 600px;
	margin: 50px;
    text-align: center;
}
