<!DOCTYPE html>
<html>
<head>
	<title>Toilette : (in)disponible</title>
	<meta charset="UTF-8">
	<link href="/static/css/styles.css" media="screen" rel="stylesheet">
	<!-- jquery import -->
  <script src="/static/js/jquery-1.12.3.min.js"></script>
	<script>
	 var intervalId = 0;
	 
	  function updateStatus() {
	   $.getJSON("/status", function (response) {
		$("#mstate").attr("src", "static/icons/"+response["statem"]);
	    $("#hstate").attr("src", "static/icons/"+response["stateh"]);
	    $("#fstate").attr("src", "static/icons/"+response["statef"]);
	 
	 
	   clearInterval(intervalId);
	   intervalId = setInterval(updateStatus, 2000);
	   });
	  }
	  intervalId = setInterval(updateStatus, 2000);
	</script>
	<script src="/static/js/loader.js"></script>
</head>
<body onload="loader();">
	<div id="left"></div>
	<div id="right"></div>
	<div id="top"></div>
	<div id="bottom"></div>
	<div id="toilette">
		<img class="state" id="fstate" src="/static/icons/{{fstate}}">
		<!-- <img class="state" id="mstate" src="/static/{{mstate}}"> -->
		<img class="state" id="hstate" src="/static/icons/{{hstate}}">
	</div>
</body>
</html>